
/* styles for JSF 2.0 Introduction project */

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f3fffe;
    margin: 50px;
    color: #444;
}

h1{
    color: #07efe8;
    font-size: 36px;
}

input[type=submit] {
    background-color: #d1d2d4;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
}

.subarea{
    border: 2px;
    border-style: solid;
    border-color: #0bddd7;
    border-radius: 10px;
    padding: 10px;   
}

h4 { margin: 10px 0 }


.smallText {
    text-align: center;
    color: #777;
    margin: 5px 0 15px;
}

.titulo{
    font-size: 18px;
    font-weight: bold;
}

input{
    border-radius: 5px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    height: 18px;
}
.commandButton{
    background-color: red;
}

.listas{
    border: 2px;
    border-style: solid;
    border-color: #88fff9;
    border-radius: 10px;
    padding: 10px;
}

div{
    margin: 10px;
}

h2{
    font-size: 28px;
}

.yourStyleClass div{
    width: 50px;
    padding: 5px;
}

.botones{
    width: 220px;
}

.yourStyleClass div:first-child span {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
}

.yourStyleClass div:nth-child(2) span {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
}

.yourStyleClass div:nth-child(3) span {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
}

label {
    margin-left: 10px;
    margin-right: 10px;
}

input { margin: 5px }

#mainContainer {
    width: 500px;
    height: 250px;
    width:80%;
}
.canciones{
    border: 2px;
    border-style: solid;
    border-color: #88fff9;
    border-radius: 10px;
    padding: 10px;
}

span.ui-column-title{
    font-size: 20px;
}

div.ui-column-customfilter{
    padding:0px;
    height: 20px;
    position: relative;
    bottom: 30px;
}

td.botones{
    position: relative;
    left:15%;
}

table.order-table{
    width:100%;
}

#left { float: left }

#right { float: right }

.subContainer {
    margin: 10px;
    padding: 10px;
    width:80%;
}

.greyBox {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: auto;
    padding: 10px;
    display: onblock;
    width:80%;
    border-radius: 20px;
    position: relative;
    left: 18%;
}

#squareContainer {
    position: absolute;
    width: 234px;
    top: -5px;
    left: -5px;
}

.square {
    width: 105px;
    height: 105px;
    margin: 5px;
    float: left;
    border: 1px solid #ccc;
}

#backButton {
    height: 30px;
    width: 60px;
    font-size: 18px;
}

.highlight {
    font-size: larger;
    color: #c00;
}

.error {
    font-size: smaller;
    color: #c00;
}
.order-table{
	border-collapse:collapse;        
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:10px;
}

tr.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
        height: 37px;
}

tr.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
        height: 37px;
}